body {
    background-color: rgb(157, 148, 137);
}
h1 {
    color:rgb(102, 49, 49);font-family:'Courier New', Courier, monospace;text-align: center;
}
h3 {
    color:rgb(80, 66, 235);font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div {
    color: rgb(40, 68, 68);font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#menuBG {
    width: 400px;
    height: 470px;
    margin: 10px auto;
}
#frmMenu {
    width: 600px;
    height: 200px;
}
#totalPrice {
    width: 200px;
    height: 190px;
    margin: 20 auto;
    float: right;
}
.left {
    width: 200px;
    height: 200px;
    float: left;
}
.center {
    width: 200px;
    height: 200px;
    float: left;
}
.right {
    width: 200px;
    height: 200px;
    float: right;
}

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
}
#cart {
    top:0;margin: 0px auto;
    width: 400px;
    height: 200px;
}
#btnOrder {
    margin: 10px 0px 0px 100px;
    width: 100px;
    height: 40px;
    display: block;
    margin: 25px auto;
}
